In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\nares\OneDrive\Documents\PythonPrograms\dataSet\linkedin.csv')
df.head()

,index,category,linkedin,profile_picture,description,Experience,Name,position,location,skills,clean_skills
0,1,HR,https://in.linkedin.com/in/sameer-wadhawan-b55...,https://media-exp1.licdn.com/dms/image/C5603AQ...,"An experienced HR professional, HR mentor and...",Senior Vice President & Head of HRCompany Name...,Sameer Wadhawan,Senior Vice President and Head of HR- Samsung ...,"Gurgaon, Haryana, India","['\nPerformance Management\n', '\nHuman Resour...","['Performance Management', 'Human Resources', ..."
1,2,HR,https://in.linkedin.com/in/adarsh-krishna-a4ab0a5,https://media-exp1.licdn.com/dms/image/C5103AQ...,"Head Talent Acquisition, HR Leader and Strateg...",Head of Talent Acquisition - India & APAC and ...,Adarsh Krishna,Head Talent Acquisition and HR Leader for Heal...,"Pune, Maharashtra, India","['\nTalent Acquisition\n', '\nEmployee Engagem...","['Talent Acquisition', 'Employee Engagement', ..."
2,3,HR,https://in.linkedin.com/in/shrivas-mohit,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",A Talent Acquisition and HR professional with ...,Company NameIBM INDIA Pvt LtdTotal Duration8 y...,Shrivas Mohit,HR@IBM,"Bengaluru, Karnataka, India","['\nHuman Resources\n', '\nRecruiting\n', '\nT...","['Human Resources', 'Recruiting', 'Team Manage..."
3,4,HR,https://in.linkedin.com/in/hr-hopes-086734b8,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",NaN,HR/Admin/Personnel/LegalCompany NameHR and HR ...,HR Hopes,HR,"Pune Area, India",[],['']
4,5,HR,https://in.linkedin.com/in/rakeshkumar01,https://media-exp1.licdn.com/dms/image/C5103AQ...,Over 18 Years of experience in IT /ITES / BPO...,Company NameEXLTotal Duration6 yrs 4 mosTitleV...,Rakesh Kumar,Vice President - Digital HR Transformation Lea...,"Central Delhi, Delhi, India","['\nTeam Management\n', '\nHuman Resources\n',...","['Team Management', 'Human Resources', 'Employ..."

In [3]:
print(df.isnull().sum())
print(df.shape)

index                0
category             0
linkedin             0
profile_picture     12
description        581
Experience          25
Name                12
position            12
location            12
skills               0
clean_skills         0
dtype: int64
(1251, 11)

In [4]:
# df.drop('index',axis='columns',inplace=True)
# df.drop('linkedin',axis='columns',inplace=True)
# df.drop('skills',axis='columns',inplace=True)
df.drop('location',axis='columns',inplace=True)
df.drop('profile_picture',axis='columns',inplace=True)
df.head()

,index,category,linkedin,description,Experience,Name,position,skills,clean_skills
0,1,HR,https://in.linkedin.com/in/sameer-wadhawan-b55...,"An experienced HR professional, HR mentor and...",Senior Vice President & Head of HRCompany Name...,Sameer Wadhawan,Senior Vice President and Head of HR- Samsung ...,"['\nPerformance Management\n', '\nHuman Resour...","['Performance Management', 'Human Resources', ..."
1,2,HR,https://in.linkedin.com/in/adarsh-krishna-a4ab0a5,"Head Talent Acquisition, HR Leader and Strateg...",Head of Talent Acquisition - India & APAC and ...,Adarsh Krishna,Head Talent Acquisition and HR Leader for Heal...,"['\nTalent Acquisition\n', '\nEmployee Engagem...","['Talent Acquisition', 'Employee Engagement', ..."
2,3,HR,https://in.linkedin.com/in/shrivas-mohit,A Talent Acquisition and HR professional with ...,Company NameIBM INDIA Pvt LtdTotal Duration8 y...,Shrivas Mohit,HR@IBM,"['\nHuman Resources\n', '\nRecruiting\n', '\nT...","['Human Resources', 'Recruiting', 'Team Manage..."
3,4,HR,https://in.linkedin.com/in/hr-hopes-086734b8,NaN,HR/Admin/Personnel/LegalCompany NameHR and HR ...,HR Hopes,HR,[],['']
4,5,HR,https://in.linkedin.com/in/rakeshkumar01,Over 18 Years of experience in IT /ITES / BPO...,Company NameEXLTotal Duration6 yrs 4 mosTitleV...,Rakesh Kumar,Vice President - Digital HR Transformation Lea...,"['\nTeam Management\n', '\nHuman Resources\n',...","['Team Management', 'Human Resources', 'Employ..."

In [5]:
df['category'].unique()

array(['HR', 'Designing', 'Managment', 'Information Technology',
       'Education', 'Advocate', 'Business Development',
       'Health & Fitness', 'Agricultural', 'BPO', 'Sales', 'Consultant',
       'Digital Media', 'Building & Construction', 'Automobile',
       'Banking', 'Engineering', 'Food & Beverages', 'Finance', 'Apparel',
       'Accountant', 'Architects', 'Public Relations', 'Arts', 'Aviation'],
      dtype=object)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1251 entries, 0 to 1250
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         1251 non-null   int64
 1   category      1251 non-null   object
 2   linkedin      1251 non-null   object
 3   description   670 non-null    object
 4   Experience    1226 non-null   object
 5   Name          1239 non-null   object
 6   position      1239 non-null   object
 7   skills        1251 non-null   object
 8   clean_skills  1251 non-null   object
dtypes: int64(1), object(8)
memory usage: 88.1+ KB

In [7]:
df['description'].iloc[1]

'Head Talent Acquisition, HR Leader and Strategic Partner to Business and leadership team in areas of people, processand structure,  worked with some of the best IT Services and Product Organizations.... see more'

In [10]:
df['merge'] = df['description']+df['position']
df

,index,category,linkedin,description,Experience,Name,position,skills,clean_skills,merge
0,1,HR,https://in.linkedin.com/in/sameer-wadhawan-b55...,"An experienced HR professional, HR mentor and...",Senior Vice President & Head of HRCompany Name...,Sameer Wadhawan,Senior Vice President and Head of HR- Samsung ...,"['\nPerformance Management\n', '\nHuman Resour...","['Performance Management', 'Human Resources', ...","An experienced HR professional, HR mentor and..."
1,2,HR,https://in.linkedin.com/in/adarsh-krishna-a4ab0a5,"Head Talent Acquisition, HR Leader and Strateg...",Head of Talent Acquisition - India & APAC and ...,Adarsh Krishna,Head Talent Acquisition and HR Leader for Heal...,"['\nTalent Acquisition\n', '\nEmployee Engagem...","['Talent Acquisition', 'Employee Engagement', ...","Head Talent Acquisition, HR Leader and Strateg..."
2,3,HR,https://in.linkedin.com/in/shrivas-mohit,A Talent Acquisition and HR professional with ...,Company NameIBM INDIA Pvt LtdTotal Duration8 y...,Shrivas Mohit,HR@IBM,"['\nHuman Resources\n', '\nRecruiting\n', '\nT...","['Human Resources', 'Recruiting', 'Team Manage...",A Talent Acquisition and HR professional with ...
3,4,HR,https://in.linkedin.com/in/hr-hopes-086734b8,NaN,HR/Admin/Personnel/LegalCompany NameHR and HR ...,HR Hopes,HR,[],[''],NaN
4,5,HR,https://in.linkedin.com/in/rakeshkumar01,Over 18 Years of experience in IT /ITES / BPO...,Company NameEXLTotal Duration6 yrs 4 mosTitleV...,Rakesh Kumar,Vice President - Digital HR Transformation Lea...,"['\nTeam Management\n', '\nHuman Resources\n',...","['Team Management', 'Human Resources', 'Employ...",Over 18 Years of experience in IT /ITES / BPO...
...,...,...,...,...,...,...,...,...,...,...
1246,1753,Aviation,https://in.linkedin.com/in/britishairhostess-a...,NaN,airline and aviation industryCompany Nameairli...,britishairhostess academy,airline and aviation industry at airline company,[],[''],NaN
1247,1754,Aviation,https://in.linkedin.com/in/ramaiah-manjunath-a...,NaN,Production ManagerCompany NameTANEJA AEROSPACE...,Ramaiah Manjunath,Production Manager at TANEJA AEROSPACE AND AVI...,[],[''],NaN
1248,1755,Aviation,https://in.linkedin.com/in/shubham-pradhan-678...,An MBA Graduate specialized in Aviation Manage...,Human Resources ExecutiveCompany NameGoAirDate...,Shubham Pradhan,HR Executive at GoAir | MBA Graduate\n Spec...,"['\nManagement\n', '\nGoal Seek\n', '\nCustome...","['Management', 'Goal Seek', 'Customer Service']",An MBA Graduate specialized in Aviation Manage...
1249,1756,Aviation,https://in.linkedin.com/in/alfiya-shaikh-b5818...,NaN,Institute of Logistics and Aviation management...,Alfiya Shaikh,Student at Institute of Logistics and Aviation...,"['\nTally ERP\n', '\nWorkshops\n']","['Tally ERP', 'Workshops']",NaN
1250,1757,Aviation,https://in.linkedin.com/in/abhishekvtiwari,Currently I'm pursuing MBA in Aviation Managem...,Executive Revenue ManagerCompany NameHospitali...,ABHISHEK TIWARI,Pursuing MBA in Aviation Management from Insti...,"['\nSix Sigma\n', '\nManagement\n', '\nTeamwor...","['Six Sigma', 'Management', 'Teamwork']",Currently I'm pursuing MBA in Aviation Managem...

In [12]:
# final_df = pd.DataFrame
# pd.final_df['category'] = df['category']
# pd.final_df['Name'] = df['Name']
# pd.final_df['des_pos_skill'] = df['merge']
# pd.final_df

final_df = df[['category','Name','merge','clean_skills']].copy()
final_df.head()

,category,Name,merge,clean_skills
0,HR,Sameer Wadhawan,"An experienced HR professional, HR mentor and...","['Performance Management', 'Human Resources', ..."
1,HR,Adarsh Krishna,"Head Talent Acquisition, HR Leader and Strateg...","['Talent Acquisition', 'Employee Engagement', ..."
2,HR,Shrivas Mohit,A Talent Acquisition and HR professional with ...,"['Human Resources', 'Recruiting', 'Team Manage..."
3,HR,HR Hopes,NaN,['']
4,HR,Rakesh Kumar,Over 18 Years of experience in IT /ITES / BPO...,"['Team Management', 'Human Resources', 'Employ..."

In [16]:
for i 
final_df['merge'].iloc[0]

"An experienced HR professional,  HR mentor and Coach , Talent advisory and HR strategist... see moreSenior Vice President and Head of HR- Samsung Electronics India Limited['Performance Management', 'Human Resources', 'Talent Management', 'Talent Acquisition', 'Recruiting', 'Strategy', 'Change Management', 'Deferred Compensation', 'Strategic HR', 'HR Policies', 'Compensation & Benefits', 'Business Strategy', 'Strategic Human Resource Planning', 'Succession Planning', 'Vendor Management', 'Workforce Planning', 'HRIS', 'Personnel Management', 'Employee Relations', 'Management', 'Employee Engagement', 'Leadership', 'Team Management', 'Conflict Management', 'People Skills', 'Performance Appraisal', 'Organizational Structure', 'Certified career coach', 'Certified Hogan assessor and coach']"

## removing stop words

In [13]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\nares\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [17]:
def remove_stopwords(text):
    new_text =[]
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x=new_text[:]
    new_text.clear()
    return " ".join(x)

remove_stopwords(lambda x: for i in range )

"An experienced HR professional, HR mentor  Coach , Talent advisory  HR strategist... see moreSenior Vice President  Head  HR- Samsung Electronics India Limited['Performance Management', 'Human Resources', 'Talent Management', 'Talent Acquisition', 'Recruiting', 'Strategy', 'Change Management', 'Deferred Compensation', 'Strategic HR', 'HR Policies', 'Compensation & Benefits', 'Business Strategy', 'Strategic Human Resource Planning', 'Succession Planning', 'Vendor Management', 'Workforce Planning', 'HRIS', 'Personnel Management', 'Employee Relations', 'Management', 'Employee Engagement', 'Leadership', 'Team Management', 'Conflict Management', 'People Skills', 'Performance Appraisal', 'Organizational Structure', 'Certified career coach', 'Certified Hogan assessor  coach']"